@page "/employeetable"
@inherits EmployeeTableBase



<h3>EmployeeTable</h3>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-borderd  table-hover">


        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Department
                </th>
               
                <th>
                    Admin
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Employees)
            {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Email
                </td>


                <td>
                    @(item.Department == null ? "N/A" : item.Department.DepName)
                </td>

                @if (item.Admin)
                {
                    <td><i class="oi oi-check" style="color:forestgreen"></i></td>
                }
                else
                {
                    <td><i class="oi oi-x" style="color:maroon"></i></td>
                }


            </tr>
            }
        </tbody>

    </table>
}

