@page "/teststatik"
<h3>TestStatik</h3>



<div class="control-section">

    <SfDatePicker TValue="DateTime?" Value="@DateValue" Format="dd-MM-yyyy" >
        <button type="button" value="Add" class="btn btn-outline-default" ><i class="fas fa-arrow-circle-left"></i></button>
        <button type="button" value="Add" class="btn btn-outline-default" ><i class="fas fa-arrow-circle-right"></i></button>
    </SfDatePicker>

    <SfAccumulationChart EnableAnimation="true" EnableSmartLabels="true">
        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
        <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@DataSource" Name="Total" XName="Name" YName="Feeling" Radius="r" InnerRadius="10%">
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
    </SfAccumulationChart>
</div>

@code {

    //public DateTime DateValue { get; set; } = new DateTime(DateTime.UtcNow.Year, DateTime.UtcNow.Month, DateTime.UtcNow.Day);
    public class Employeestat
    {
        public string Name { get; set; }
        public int Feeling { get; set; }

    }

    public List<Employeestat> DataSource = new List<Employeestat>
    {
        new Employeestat {Name="Happy", Feeling=160 },
        new Employeestat {Name="Angry", Feeling=100},
        new Employeestat {Name="Fine", Feeling=105},
    };
    public DateTime DateValue { get; set; } = DateTime.UtcNow;

}
