@page "/toquiz/{id}"
@inherits ToQuizBase
<h3>ToQuiz</h3>


@if (quiz == null)
{
    <div class="spinner"></div>

}
else
{
        <EditForm Model="record">
            <div class="card-deck">
                <div class="card m-3 AllcardShadow" style="min-width: 18rem; max-width: 30.5%;">
                    <div class="card-header cardheader">
                        <h3 class="EmpName"></h3>
                    </div>
                    <div class="card-body text-center">

                        <SfDatePicker TValue="DateTime?" Value="@DateValue" Format="dd-MM-yyyy">
                            <button type="button" value="Add" class="btn btn-outline-default"><i class="fas fa-arrow-circle-left"></i></button>
                            <button type="button" value="Add" class="btn btn-outline-default"><i class="fas fa-arrow-circle-right"></i></button>
                        </SfDatePicker>
                    </div>
                    <div class="card-body">
                        <h5>@quiz.Title</h5>
                    </div>
                    
                    <div class="card-body">
                        
                    </div>
                </div>
                
            </div>
        </EditForm>
}

